PORT=8000
MONGODB_URI=mongodb://tanishshrimali2023_db_user:tanishshrimali2023@ac-angwlpt-shard-00-00.t6637gc.mongodb.net:27017,ac-angwlpt-shard-00-01.t6637gc.mongodb.net:27017,ac-angwlpt-shard-00-02.t6637gc.mongodb.net:27017/?ssl=true&replicaSet=atlas-louqku-shard-0&authSource=admin&appName=Backend